@using EmployeeManagement.Models
@model EmployeeManagement.Models.Employee

<!DOCTYPE html>
<html>
<head>
    <title>Create Employee</title>
</head>
<body>
    <h1>Create Employee</h1>

    <form asp-action="Create" method="post">
        <div>
            <div>RFC: </div>
            <label asp-for="RFC"></label>
            <input asp-for="RFC" />
            <span asp-validation-for="RFC"></span>
            <br><br>
        </div>
        <div>
            <div>Name: </div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
            <br><br>
        </div>
        <div>
            <div>Last name: </div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
            <br><br>
        </div>
        <div>
            <div>Born Date: </div>
            <label asp-for="BornDate"></label>
            <input asp-for="BornDate" type="date" />
            <span asp-validation-for="BornDate"></span>
            <br><br>
        </div>
        <div>
            <div>Status: </div>
            <label asp-for="Status"></label>
            <select asp-for="Status">
                <option value="">Select Status</option>
                @foreach (var status in Enum.GetValues(typeof(EmployeeStatus)))
                {
                    <option value="@status">@status</option>
                }
            </select>
            <span asp-validation-for="Status"></span>
            <br><br>
        </div>
        <button type="submit">Create</button>
    </form>
</body>
</html>
